.logo-div{

}

.Tilt{
    position: relative;
}

.tilt-local{
    position: absolute;
    /* top: 10px; */
    left: 50px;
    height: 65px;
    width: 65px;
    background-image: url('./icons8-brain-64.png');
   
}