
.nav-div{
    position: relative;
}

.nav {
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250, 248, 248, 0.5);
}

.nav p {
    color: rgb(255, 255, 255);
}

.nav-inner{
    display: flex;
}